# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
**/__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# IDEs / editors
.vscode/
.idea/
*.iml

# Pytest cache
.pytest_cache/

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
test/
notebooks/vib/
